{% extends "main.html" %}
{% load staticfiles %}

{% block main %}

      <li class="dropdown">
        <a href="chat.html" class="dropdown-toggle" data-toggle="dropdown">Чат <i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu">
          <li><a href="chat.html">Общий чат</a></li>
          <li><a href="#">Чат факультета</a></li>
        </ul>
    </li>
      <li><a href="enter.html">Вход</a></li>
    </ul>
   </div>
  </div> 
</nav>    
<!--HERE START EVENT PART-->
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<!--HERE EVENT PART ENDED-->
{% endblock %}